/* .layout {
  display: flex;
  height: 100vh;
  width: 100vw;
} */

/* .sidebar {
  width: 150px;
  flex-shrink: 0;
  overflow-y: auto;
  background-color: #f0f0f0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* Add this new class for the icon */
/* .sidebar-icon {
  width: 90px;
  height: 90px;
  margin: 20px 0; 
} */
  
  /* .content {
    flex-grow: 1;
    position: relative;
  } */